body{

    font-family: 'Times New Roman';
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.seccion-superior{
    background: blue;
}
.seccion-footer{
    background: blue;
    
}
.contacto{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.footer{
    height: 120px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}
.datos-sitio{
    width: 30%;
    font-size: 80%;
    
}
.titulo-contacto{
    text-align:center;
}
.datos-contacto{
    width: 60%;
    font-size: 80%;
    
    
}
.barra{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}
.titulo-principal, .contenedor-menu{
    width: 50%;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-titulo{
    position: absolute;
    color: white;
}


